	.fontFamilyTitles {
		font-family: 'Kumar One', cursive;
	}
	
	div {
		text-align:center

	}
	
	#albumCover {
		background-image:url("https://images-na.ssl-images-amazon.com/images/I/41P8MWC80NL.jpg");
		height:300px; 
		width:296px;
		text-align: center;
		margin:0 auto;
		
	}
	
	#italicizedNames {
		font-style:italic;
	}
	
	a {
		text-decoration:none
	}
	
	a:hover {
		text-decoration: underline;
		background-color: yellow;
	}
	
	table {
		font-style:italic;
	}
	
	tbody tr:nth-child(even) {
		background-color: yellow;
	}
	
	tbody tr:nth-child(odd) {
		background-color: green;
	}
	
	caption {
		text-align: center;
	}