	header, footer {
		text-align:center
	}

	.restaurantName {
		font-family: 'Permanent Marker' ,cursive;
	}
	
	.menuItems {
		font-size: larger;
	}
	
	#homeBackground {
		background-color: #9dd1f7;
	}
	
	
	.requiredFields {
		font-weight: bold;
	}
	
	a:visited {
		color:purple;
	}
	
	a:hover {
		font-weight: bold;
	}
	
	a:active {
		text-decoration:none;
	}
	
	caption {
		text-decoration: underline;
	}
	
	.alignBeveragesLeft {
		text-align:left;
	}
	
	#beveragesStyle {
		text-align:left;
		margin:auto;
		padding-left:600px;
	}
	
	#tableColor {
		background-color: #f7a64f;
	}
	
	ul {
		display: inline-list;
	}
	
	.entireBackgroundColor {
		background-color:  #9dd1f7;
	}
	
	.carousel-inner {
		text-align:center;
	}

	#beverageColor {
		background-color: yellow;
	}

	ol li {
		display:block;
	}